In [166]:
import pandas as pd

In [167]:
# List of valid zip codes in Charlotte only
valid_zipcodes = [
    '28202', '28203', '28204', '28205', '28206', '28207', '28208', '28209',
    '28210', '28211', '28212', '28213', '28214', '28215', '28216', '28217',
    '28226', '28227', '28262', '28269', '28270', '28273', '28277', '28278'
]

In [168]:
df_incidents11 = pd.read_csv('2011_Incident (1).csv')
df_incidents11_valid = df_incidents11[df_incidents11['Zipcode'].isin(valid_zipcodes)]

df_incidents12 = pd.read_csv('2012_Incident.csv')
df_incidents12_valid = df_incidents12[df_incidents12['Zipcode'].isin(valid_zipcodes)]

df_incidents13 = pd.read_csv('2013_Incident.csv')
df_incidents13_valid = df_incidents13[df_incidents13['Zipcode'].isin(valid_zipcodes)]

df_incidents14 = pd.read_csv('2014_Incident.csv')
df_incidents14_valid = df_incidents14[df_incidents14['Zipcode'].isin(valid_zipcodes)]

df_incidents15 = pd.read_csv('2015_Incident.csv')
df_incidents15_valid = df_incidents15[df_incidents15['Zipcode'].isin(valid_zipcodes)]

df_incidents16 = pd.read_csv('2016_Incident.csv')
df_incidents16_valid = df_incidents16[df_incidents16['Zipcode'].isin(valid_zipcodes)]

C:\Users\Trevor\AppData\Local\Temp\ipykernel_6788\2397259115.py:10: DtypeWarning: Columns (14,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_incidents14 = pd.read_csv('2014_Incident.csv')

In [169]:
df_property11 = pd.read_csv('2011_Property.csv')
df_victim11 = pd.read_csv('2011_Victim_Person.csv')

df_property12 = pd.read_csv('2012_Property.csv')
df_victim12 = pd.read_csv('2012_Victim_Person.csv')

df_property13 = pd.read_csv('2013_Property.csv')
df_victim13 = pd.read_csv('2013_Victim_Person.csv')

df_property14 = pd.read_csv('2014_Property.csv')
df_victim14 = pd.read_csv('2014_Victim_Person.csv')

df_property15 = pd.read_csv('2015_Property.csv')
df_victim15 = pd.read_csv('2015_Victim_Person.csv')

df_property16 = pd.read_csv('2016_Property.csv')
df_victim16 = pd.read_csv('2016_Victim_Person.csv')

df_pop_income = pd.read_csv('Pop_and_Income_by_zip.csv')

In [170]:
# Step 1 Convert all columns in df_incidents11_valid to string data type
df_incidents11_valid = df_incidents11_valid.astype(str)
df_property11 = df_property11.astype(str)
df_pop_income = df_pop_income.astype(str)
df_victim11 = df_victim11.astype(str)

# Step 2: Merge DataFrames using valid zip codes
merged11_data = df_incidents11_valid.merge(df_property11, on='Complaint_No', how='left')
merged11_data = merged11_data.merge(df_pop_income, on='Zipcode', how='left')
merged11_data = merged11_data.merge(df_victim11, on='Complaint_No', how='left')
merged11_data

,Complaint_No,Block_No,Direction,Street_Name,Street_Type,Suffix,Apt_No,City,State,Zipcode,...,Property_No,Property_type,Property_Desc,2010 Pop,Median Household Income,Victim_No,Victim_Age,Victim_Race,Victim_Gender,Victim_Ethnicity
0,20110101000308,4425,,EDDLEMAN,RD,,,CHARLOTTE,NC,28208,...,1,Withheld ...,Withheld ...,34156,"$44,711.00",NaN,NaN,NaN,NaN,NaN
1,20110101000700,2228,,BEATTIES FORD,RD,,,CHARLOTTE,NC,28216,...,NaN,NaN,NaN,47227,"$53,462.00",1,37,Black,F,Unknown/Refused ...
2,20110101000700,2228,,BEATTIES FORD,RD,,,CHARLOTTE,NC,28216,...,NaN,NaN,NaN,47227,"$53,462.00",2,42,Black,M,Unknown/Refused ...
3,20110101001302,4027,,QUAIL GLENN,CT,,K,CHARLOTTE,NC,28226,...,1,Video Game Systems and Accessories ...,Electronic Equipment and Accessories ...,37286,"$107,603.00",1,22,White,M,Unknown/Refused ...
4,20110101001302,4027,,QUAIL GLENN,CT,,K,CHARLOTTE,NC,28226,...,2,Video Game Systems and Accessories ...,Electronic Equipment and Accessories ...,37286,"$107,603.00",1,22,White,M,Unknown/Refused ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113954,20111010142504,7800,,IBM,DR,,,CHARLOTTE,NC,28262,...,1,Withheld ...,Withheld ...,37544,"$59,021.00",NaN,NaN,NaN,NaN,NaN
113955,20111010142800,3424,,WILKINSON,BV,,,CHARLOTTE,NC,28214,...,1,Money/Cash ...,Money and Securities ...,34721,"$72,302.00",NaN,NaN,NaN,NaN,NaN
113956,20111010143801,14126,,RIVERGATE,PY,,100,CHARLOTTE,NC,28273,...,NaN,NaN,NaN,31478,"$75,126.00",1,18,White,M,Other/Not Listed ...
113957,20111010143802,4923,S,TRYON,ST,,,CHARLOTTE,NC,28217,...,1,Automobile ...,Vehicles and Parts ...,24199,"$55,075.00",NaN,NaN,NaN,NaN,NaN
113958,20111010144002,161,,PARK FAIRFAX,DR,,,CHARLOTTE,NC,28208,...,1,Automobile ...,Vehicles and Parts ...,34156,"$44,711.00",NaN,NaN,NaN,NaN,NaN

In [171]:
# Step 1 Convert all columns in df_incidents11_valid to string data type
df_incidents12_valid = df_incidents12_valid.astype(str)
df_property12 = df_property12.astype(str)
df_pop_income = df_pop_income.astype(str)
df_victim12 = df_victim12.astype(str)

# Step 2: Merge DataFrames using valid zip codes
merged12_data = df_incidents12_valid.merge(df_property12, on='Complaint_No', how='left')
merged12_data = merged12_data.merge(df_pop_income, on='Zipcode', how='left')
merged12_data = merged12_data.merge(df_victim12, on='Complaint_No', how='left')
merged12_data

,Complaint_No,Block_No,Direction,Street_Name,Street_Type,Suffix,Apt_No,City,State,Zipcode,...,Property_No,Property_type,Property_Desc,2010 Pop,Median Household Income,Victim_No,Victim_Age,Victim_Race,Victim_Gender,Victim_Ethnicity
0,20120616144301,9108,,REAMES,RD,,,CHARLOTTE,NC,28216,...,NaN,NaN,NaN,47227,"$53,462.00",1,50,Black,M,Other/Not Listed ...
1,20120616144301,9108,,REAMES,RD,,,CHARLOTTE,NC,28216,...,NaN,NaN,NaN,47227,"$53,462.00",1,50,Black,M,Other/Not Listed ...
2,20120616144400,2903,N,DAVIDSON,ST,,,CHARLOTTE,NC,28205,...,1,Vehicle Tag ...,Vehicles and Parts ...,43931,"$61,525.00",1,26,White,F,Unknown/Refused ...
3,20120616144400,2903,N,DAVIDSON,ST,,,CHARLOTTE,NC,28205,...,1,Vehicle Tag ...,Vehicles and Parts ...,43931,"$61,525.00",1,26,White,F,Unknown/Refused ...
4,20120616144400,2903,N,DAVIDSON,ST,,,CHARLOTTE,NC,28205,...,1,Vehicle Tag ...,Vehicles and Parts ...,43931,"$61,525.00",1,26,White,F,Unknown/Refused ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636127,20121230232104,6517,,YATESWOOD,DR,,,CHARLOTTE,NC,28212,...,1,Automobile ...,Vehicles and Parts ...,38457,"$44,747.00",1,,Unknown,M,Unknown/Refused ...
636128,20121230232104,6517,,YATESWOOD,DR,,,CHARLOTTE,NC,28212,...,1,Automobile ...,Vehicles and Parts ...,38457,"$44,747.00",1,,Unknown,M,Unknown/Refused ...
636129,20121230232104,6517,,YATESWOOD,DR,,,CHARLOTTE,NC,28212,...,1,Automobile ...,Vehicles and Parts ...,38457,"$44,747.00",1,,Unknown,M,Unknown/Refused ...
636130,20121230235402,9309,,KINGS FALLS,DR,,,CHARLOTTE,NC,28210,...,NaN,NaN,NaN,42256,"$79,403.00",1,53,White,F,Unknown/Refused ...
636131,20121230235402,9309,,KINGS FALLS,DR,,,CHARLOTTE,NC,28210,...,NaN,NaN,NaN,42256,"$79,403.00",1,53,White,F,Unknown/Refused ...

In [172]:
# Step 1 Convert all columns in df_incidents11_valid to string data type
df_incidents13_valid = df_incidents13_valid.astype(str)
df_property13 = df_property13.astype(str)
df_pop_income = df_pop_income.astype(str)
df_victim13 = df_victim13.astype(str)

# Step 2: Merge DataFrames using valid zip codes
merged13_data = df_incidents13_valid.merge(df_property13, on='Complaint_No', how='left')
merged13_data = merged13_data.merge(df_pop_income, on='Zipcode', how='left')
merged13_data = merged13_data.merge(df_victim13, on='Complaint_No', how='left')
merged13_data

,Complaint_No,Block_No,Direction,Street_Name,Street_Type,Suffix,Apt_No,City,State,Zipcode,...,Property_No,Property_type,Property_Desc,2010 Pop,Median Household Income,Victim_No,Victim_Age,Victim_Race,Victim_Gender,Victim_Ethnicity
0,20130101000201,9105,,SPYGLASS,PL,,D,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,34156,"$44,711.00",1,29,White,F,Unknown/Refused ...
1,20130101000901,,,EQUIPMENT,DR,,207,CHARLOTTE,NC,28213,...,NaN,NaN,NaN,37309,"$49,714.00",1,35,White,F,Other/Not Listed ...
2,20130101001301,3201,,BEATTIES FORD,RD,,,CHARLOTTE,NC,28216,...,NaN,NaN,NaN,47227,"$53,462.00",1,20,Black,M,Other/Not Listed ...
3,20130101001400,5745,,CENTRAL,AV,,,CHARLOTTE,NC,28205,...,1,Commercial Trucks ...,Vehicles and Parts ...,43931,"$61,525.00",NaN,NaN,NaN,NaN,NaN
4,20130101001604,2400,,BEATTIES FORD RD.,,,,CHARLOTTE,NC,28216,...,NaN,NaN,NaN,47227,"$53,462.00",1,88,Black,M,Other/Not Listed ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139645,20131230233000,1204,,HEATHER MIST,AV,,105,CHARLOTTE,NC,28213,...,4,Withheld ...,Withheld ...,37309,"$49,714.00",1,,White,F,Other/Not Listed ...
139646,20131230233000,1204,,HEATHER MIST,AV,,105,CHARLOTTE,NC,28213,...,5,Withheld ...,Withheld ...,37309,"$49,714.00",1,,White,F,Other/Not Listed ...
139647,20131230235601,4017,,TRIANGLE,DR,,,CHARLOTTE,NC,28208,...,1,Withheld ...,Withheld ...,34156,"$44,711.00",NaN,NaN,NaN,NaN,NaN
139648,20131230235601,4017,,TRIANGLE,DR,,,CHARLOTTE,NC,28208,...,2,Withheld ...,Withheld ...,34156,"$44,711.00",NaN,NaN,NaN,NaN,NaN
139649,20131230235601,4017,,TRIANGLE,DR,,,CHARLOTTE,NC,28208,...,3,Withheld ...,Withheld ...,34156,"$44,711.00",NaN,NaN,NaN,NaN,NaN

In [173]:
# Step 1 Convert all columns in df_incidents11_valid to string data type
df_incidents14_valid = df_incidents14_valid.astype(str)
df_property14 = df_property14.astype(str)
df_pop_income = df_pop_income.astype(str)
df_victim14 = df_victim14.astype(str)

# Step 2: Merge DataFrames using valid zip codes
merged14_data = df_incidents14_valid.merge(df_property14, on='Complaint_No', how='left')
merged14_data = merged14_data.merge(df_pop_income, on='Zipcode', how='left')
merged14_data = merged14_data.merge(df_victim14, on='Complaint_No', how='left')
merged14_data

,Complaint_No,Block_No,Direction,Street_Name,Street_Type,Suffix,Apt_No,City,State,Zipcode,...,Property_No,Property_type,Property_Desc,2010 Pop,Median Household Income,Victim_No,Victim_Age,Victim_Race,Victim_Gender,Victim_Ethnicity
0,20140101000503,9023,,ARBORGATE,DR,,,CHARLOTTE,NC,28217,...,1,Withheld ...,Withheld ...,24199,"$55,075.00",NaN,NaN,NaN,NaN,NaN
1,20140101000503,9023,,ARBORGATE,DR,,,CHARLOTTE,NC,28217,...,2,Withheld ...,Withheld ...,24199,"$55,075.00",NaN,NaN,NaN,NaN,NaN
2,20140101000503,9023,,ARBORGATE,DR,,,CHARLOTTE,NC,28217,...,3,Ammunition ...,Consumable Goods ...,24199,"$55,075.00",NaN,NaN,NaN,NaN,NaN
3,20140101000503,9023,,ARBORGATE,DR,,,CHARLOTTE,NC,28217,...,4,Ammunition ...,Consumable Goods ...,24199,"$55,075.00",NaN,NaN,NaN,NaN,NaN
4,20140101000503,9023,,ARBORGATE,DR,,,CHARLOTTE,NC,28217,...,5,Ammunition ...,Consumable Goods ...,24199,"$55,075.00",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115084,20141231234505,210,E,TRADE,ST,,286E,CHARLOTTE,NC,28203,...,NaN,NaN,NaN,11315,"$91,567.00",NaN,NaN,NaN,NaN,NaN
115085,20141231234804,3203,,NOBLES,AV,,,CHARLOTTE,NC,28208,...,1,Withheld ...,Withheld ...,34156,"$44,711.00",NaN,NaN,NaN,NaN,NaN
115086,20141231234804,3203,,NOBLES,AV,,,CHARLOTTE,NC,28208,...,2,Withheld ...,Withheld ...,34156,"$44,711.00",NaN,NaN,NaN,NaN,NaN
115087,20141231234805,201,N,TRYON,ST,,,CHARLOTTE,NC,28202,...,NaN,NaN,NaN,11195,"$93,150.00",NaN,NaN,NaN,NaN,NaN
115088,20141231235604,8400,,OLD CONCORD RD,RD,,,CHARLOTTE,NC,28213,...,1,Automobile ...,Vehicles and Parts ...,37309,"$49,714.00",NaN,NaN,NaN,NaN,NaN

In [174]:
# Step 1 Convert all columns in df_incidents11_valid to string data type
df_incidents15_valid = df_incidents15_valid.astype(str)
df_property15 = df_property15.astype(str)
df_pop_income = df_pop_income.astype(str)
df_victim15 = df_victim15.astype(str)

# Step 2: Merge DataFrames using valid zip codes
merged15_data = df_incidents15_valid.merge(df_property15, on='Complaint_No', how='left')
merged15_data = merged15_data.merge(df_pop_income, on='Zipcode', how='left')
merged15_data = merged15_data.merge(df_victim15, on='Complaint_No', how='left')
merged15_data

,Complaint_No,Block_No,Direction,Street_Name,Street_Type,Suffix,Apt_No,City,State,Zipcode,...,Property_No,Property_type,Property_Desc,2010 Pop,Median Household Income,Victim_No,Victim_Age,Victim_Race,Victim_Gender,Victim_Ethnicity
0,20150101000306,,,LUNENBERG,LN,,,CHARLOTTE,NC,28278,...,1,Landscaping ...,Crops and Landscaping ...,19286,"$107,998.00",NaN,NaN,NaN,NaN,NaN
1,20150101000306,,,LUNENBERG,LN,,,CHARLOTTE,NC,28278,...,2,Dwelling: Single-Family ...,Structures ...,19286,"$107,998.00",NaN,NaN,NaN,NaN,NaN
2,20150101000306,,,LUNENBERG,LN,,,CHARLOTTE,NC,28278,...,3,Windows ...,Structures ...,19286,"$107,998.00",NaN,NaN,NaN,NaN,NaN
3,20150101001001,14422,,CINNAMON FIELD,RD,,,CHARLOTTE,NC,28273,...,1,Automobile ...,Vehicles and Parts ...,31478,"$75,126.00",NaN,NaN,NaN,NaN,NaN
4,20150101001001,14422,,CINNAMON FIELD,RD,,,CHARLOTTE,NC,28273,...,2,Telephone Equipment ...,Electronic Equipment and Accessories ...,31478,"$75,126.00",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119258,20151231225501,7513,,BRADLOW,CT,,,CHARLOTTE,NC,28210,...,5,Credit/Debit Cards ...,Money and Securities ...,42256,"$79,403.00",NaN,NaN,NaN,NaN,NaN
119259,20151231225501,7513,,BRADLOW,CT,,,CHARLOTTE,NC,28210,...,6,Other ...,Other Property ...,42256,"$79,403.00",NaN,NaN,NaN,NaN,NaN
119260,20151231232801,10332,,COVINGTONWOOD,DR,,,CHARLOTTE,NC,28214,...,1,Dwelling: Single-Family ...,Structures ...,34721,"$72,302.00",NaN,NaN,NaN,NaN,NaN
119261,20151231234900,3331,,OPEN FIELD,LN,,325,CHARLOTTE,NC,28277,...,1,Ammunition ...,Consumable Goods ...,59683,"$111,242.00",NaN,NaN,NaN,NaN,NaN
119262,20151231234900,3331,,OPEN FIELD,LN,,325,CHARLOTTE,NC,28277,...,2,Withheld ...,Withheld ...,59683,"$111,242.00",NaN,NaN,NaN,NaN,NaN

In [175]:
# Step 1 Convert all columns in df_incidents11_valid to string data type
df_incidents16_valid = df_incidents16_valid.astype(str)
df_property16 = df_property16.astype(str)
df_pop_income = df_pop_income.astype(str)
df_victim16 = df_victim16.astype(str)

# Step 2: Merge DataFrames using valid zip codes
merged16_data = df_incidents16_valid.merge(df_property16, on='Complaint_No', how='left')
merged16_data = merged16_data.merge(df_pop_income, on='Zipcode', how='left')
merged16_data = merged16_data.merge(df_victim16, on='Complaint_No', how='left')
merged16_data

,Complaint_No,Block_No,Direction,Street_Name,Street_Type,Suffix,Apt_No,City,State,Zipcode,...,Property_No,Property_type,Property_Desc,2010 Pop,Median Household Income,Victim_No,Victim_Age,Victim_Race,Victim_Gender,Victim_Ethnicity
0,20160101000006,2219,,HEATHER GLEN,LN,,,CHARLOTTE,NC,28208,...,1,Other ...,Other Property ...,34156,"$44,711.00",3,38,White,F,Hispanic/Latino ...
1,20160101000006,2219,,HEATHER GLEN,LN,,,CHARLOTTE,NC,28208,...,1,Other ...,Other Property ...,34156,"$44,711.00",1,48,White,F,Hispanic/Latino ...
2,20160101000006,2219,,HEATHER GLEN,LN,,,CHARLOTTE,NC,28208,...,1,Other ...,Other Property ...,34156,"$44,711.00",2,39,White,M,Hispanic/Latino ...
3,20160101000006,2219,,HEATHER GLEN,LN,,,CHARLOTTE,NC,28208,...,2,Purses/Handbags/Wallets ...,Money and Securities ...,34156,"$44,711.00",3,38,White,F,Hispanic/Latino ...
4,20160101000006,2219,,HEATHER GLEN,LN,,,CHARLOTTE,NC,28208,...,2,Purses/Handbags/Wallets ...,Money and Securities ...,34156,"$44,711.00",1,48,White,F,Hispanic/Latino ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165964,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,1,TV Equipment ...,Electronic Equipment and Accessories ...,34156,"$44,711.00",1,42,White,M,Other/Not Listed ...
165965,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,2,TV Equipment ...,Electronic Equipment and Accessories ...,34156,"$44,711.00",1,42,White,M,Other/Not Listed ...
165966,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,3,Video Game Systems and Accessories ...,Electronic Equipment and Accessories ...,34156,"$44,711.00",1,42,White,M,Other/Not Listed ...
165967,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,4,Tablet Computer ...,Electronic Equipment and Accessories ...,34156,"$44,711.00",1,42,White,M,Other/Not Listed ...
165968,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,5,TV Equipment ...,Electronic Equipment and Accessories ...,34156,"$44,711.00",1,42,White,M,Other/Not Listed ...

In [176]:
combined_df = pd.concat([merged11_data, merged12_data, merged13_data, merged14_data, merged15_data, merged16_data], ignore_index=True)
combined_df

,Complaint_No,Block_No,Direction,Street_Name,Street_Type,Suffix,Apt_No,City,State,Zipcode,...,Median Household Income,Victim_No,Victim_Age,Victim_Race,Victim_Gender,Victim_Ethnicity,Incident_From_Time,Incident_to_Time,Unnamed: 28,Unnamed: 29
0,20110101000308,4425,,EDDLEMAN,RD,,,CHARLOTTE,NC,28208,...,"$44,711.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20110101000700,2228,,BEATTIES FORD,RD,,,CHARLOTTE,NC,28216,...,"$53,462.00",1,37,Black,F,Unknown/Refused ...,NaN,NaN,NaN,NaN
2,20110101000700,2228,,BEATTIES FORD,RD,,,CHARLOTTE,NC,28216,...,"$53,462.00",2,42,Black,M,Unknown/Refused ...,NaN,NaN,NaN,NaN
3,20110101001302,4027,,QUAIL GLENN,CT,,K,CHARLOTTE,NC,28226,...,"$107,603.00",1,22,White,M,Unknown/Refused ...,NaN,NaN,NaN,NaN
4,20110101001302,4027,,QUAIL GLENN,CT,,K,CHARLOTTE,NC,28226,...,"$107,603.00",1,22,White,M,Unknown/Refused ...,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1290057,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,"$44,711.00",1,42,White,M,Other/Not Listed ...,2330,0.0,NaN,NaN
1290058,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,"$44,711.00",1,42,White,M,Other/Not Listed ...,2330,0.0,NaN,NaN
1290059,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,"$44,711.00",1,42,White,M,Other/Not Listed ...,2330,0.0,NaN,NaN
1290060,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,"$44,711.00",1,42,White,M,Other/Not Listed ...,2330,0.0,NaN,NaN
1290061,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,"$44,711.00",1,42,White,M,Other/Not Listed ...,2330,0.0,NaN,NaN

In [177]:
combined_df.columns

Index(['Complaint_No', 'Block_No', 'Direction', 'Street_Name', 'Street_Type',
       'Suffix', 'Apt_No', 'City', 'State', 'Zipcode', 'X_Coordinate',
       'Y_Coordinate', 'Division', 'Reported_Date', 'Location_Desc',
       'Location_Type', 'Incident_From_Date', 'Incident_to_date', 'Place1',
       'Place2', 'Clearance_Status', 'Clearance_Date', 'Case_Status',
       'Reporting_Agency', 'Follow_up_Section', 'NIBRS_Hi_Class',
       'Property_No', 'Property_type', 'Property_Desc', '2010 Pop',
       'Median Household Income', 'Victim_No', 'Victim_Age', 'Victim_Race',
       'Victim_Gender', 'Victim_Ethnicity', ' Incident_From_Time',
       'Incident_to_Time', 'Unnamed: 28', 'Unnamed: 29'],
      dtype='object')

In [178]:
# Combine "Victim_Race" and "Victim_Ethnicity" columns into a new column "Victim_Ethnicity"
combined_df['Victim_Ethnic'] = combined_df['Victim_Race'] + ' ' + combined_df['Victim_Ethnicity']
combined_df = combined_df.drop(['Victim_Race', 'Victim_Ethnicity'], axis=1)
combined_df.columns

Index(['Complaint_No', 'Block_No', 'Direction', 'Street_Name', 'Street_Type',
       'Suffix', 'Apt_No', 'City', 'State', 'Zipcode', 'X_Coordinate',
       'Y_Coordinate', 'Division', 'Reported_Date', 'Location_Desc',
       'Location_Type', 'Incident_From_Date', 'Incident_to_date', 'Place1',
       'Place2', 'Clearance_Status', 'Clearance_Date', 'Case_Status',
       'Reporting_Agency', 'Follow_up_Section', 'NIBRS_Hi_Class',
       'Property_No', 'Property_type', 'Property_Desc', '2010 Pop',
       'Median Household Income', 'Victim_No', 'Victim_Age', 'Victim_Gender',
       ' Incident_From_Time', 'Incident_to_Time', 'Unnamed: 28', 'Unnamed: 29',
       'Victim_Ethnic'],
      dtype='object')

In [179]:
combined_df.columns.str.strip()

Index(['Complaint_No', 'Block_No', 'Direction', 'Street_Name', 'Street_Type',
       'Suffix', 'Apt_No', 'City', 'State', 'Zipcode', 'X_Coordinate',
       'Y_Coordinate', 'Division', 'Reported_Date', 'Location_Desc',
       'Location_Type', 'Incident_From_Date', 'Incident_to_date', 'Place1',
       'Place2', 'Clearance_Status', 'Clearance_Date', 'Case_Status',
       'Reporting_Agency', 'Follow_up_Section', 'NIBRS_Hi_Class',
       'Property_No', 'Property_type', 'Property_Desc', '2010 Pop',
       'Median Household Income', 'Victim_No', 'Victim_Age', 'Victim_Gender',
       'Incident_From_Time', 'Incident_to_Time', 'Unnamed: 28', 'Unnamed: 29',
       'Victim_Ethnic'],
      dtype='object')

In [180]:
columns_to_keep = ['Complaint_No','NIBRS_Hi_Class','Location_Type','Incident_From_Date',' Incident_From_Time', 'Zipcode', 'Property_No', 'Property_type', 'Property_Desc', '2010 Pop', 'Median Household Income', 'Victim_Age', 'Victim_Gender', 'Victim_Ethnic']

combined_df = combined_df[columns_to_keep]
combined_df

,Complaint_No,NIBRS_Hi_Class,Location_Type,Incident_From_Date,Incident_From_Time,Zipcode,Property_No,Property_type,Property_Desc,2010 Pop,Median Household Income,Victim_Age,Victim_Gender,Victim_Ethnic
0,20110101000308,Drug Equipment Violations ...,Outdoors,1/1/2011,NaN,28208,1,Withheld ...,Withheld ...,34156,"$44,711.00",NaN,NaN,NaN
1,20110101000700,Aggravated Assault ...,Indoors,1/1/2011,NaN,28216,NaN,NaN,NaN,47227,"$53,462.00",37,F,Black Unknown/Refused...
2,20110101000700,Aggravated Assault ...,Indoors,1/1/2011,NaN,28216,NaN,NaN,NaN,47227,"$53,462.00",42,M,Black Unknown/Refused...
3,20110101001302,Burglary/B&E ...,Indoors,12/31/2010,NaN,28226,1,Video Game Systems and Accessories ...,Electronic Equipment and Accessories ...,37286,"$107,603.00",22,M,White Unknown/Refused...
4,20110101001302,Burglary/B&E ...,Indoors,12/31/2010,NaN,28226,2,Video Game Systems and Accessories ...,Electronic Equipment and Accessories ...,37286,"$107,603.00",22,M,White Unknown/Refused...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1290057,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,1,TV Equipment ...,Electronic Equipment and Accessories ...,34156,"$44,711.00",42,M,White Other/Not Liste...
1290058,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,2,TV Equipment ...,Electronic Equipment and Accessories ...,34156,"$44,711.00",42,M,White Other/Not Liste...
1290059,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,3,Video Game Systems and Accessories ...,Electronic Equipment and Accessories ...,34156,"$44,711.00",42,M,White Other/Not Liste...
1290060,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,4,Tablet Computer ...,Electronic Equipment and Accessories ...,34156,"$44,711.00",42,M,White Other/Not Liste...
1290061,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,5,TV Equipment ...,Electronic Equipment and Accessories ...,34156,"$44,711.00",42,M,White Other/Not Liste...

In [181]:
combined_df = combined_df.rename(columns={' Incident_From_Time':'Incident_Time'})
combined_df = combined_df.rename(columns={'Incident_From_Date':'Incident_Date'})
combined_df = combined_df.rename(columns={'NIBRS_Hi_Class':'Property_Crimes'})

combined_df

,Complaint_No,Property_Crimes,Location_Type,Incident_Date,Incident_Time,Zipcode,Property_No,Property_type,Property_Desc,2010 Pop,Median Household Income,Victim_Age,Victim_Gender,Victim_Ethnic
0,20110101000308,Drug Equipment Violations ...,Outdoors,1/1/2011,NaN,28208,1,Withheld ...,Withheld ...,34156,"$44,711.00",NaN,NaN,NaN
1,20110101000700,Aggravated Assault ...,Indoors,1/1/2011,NaN,28216,NaN,NaN,NaN,47227,"$53,462.00",37,F,Black Unknown/Refused...
2,20110101000700,Aggravated Assault ...,Indoors,1/1/2011,NaN,28216,NaN,NaN,NaN,47227,"$53,462.00",42,M,Black Unknown/Refused...
3,20110101001302,Burglary/B&E ...,Indoors,12/31/2010,NaN,28226,1,Video Game Systems and Accessories ...,Electronic Equipment and Accessories ...,37286,"$107,603.00",22,M,White Unknown/Refused...
4,20110101001302,Burglary/B&E ...,Indoors,12/31/2010,NaN,28226,2,Video Game Systems and Accessories ...,Electronic Equipment and Accessories ...,37286,"$107,603.00",22,M,White Unknown/Refused...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1290057,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,1,TV Equipment ...,Electronic Equipment and Accessories ...,34156,"$44,711.00",42,M,White Other/Not Liste...
1290058,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,2,TV Equipment ...,Electronic Equipment and Accessories ...,34156,"$44,711.00",42,M,White Other/Not Liste...
1290059,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,3,Video Game Systems and Accessories ...,Electronic Equipment and Accessories ...,34156,"$44,711.00",42,M,White Other/Not Liste...
1290060,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,4,Tablet Computer ...,Electronic Equipment and Accessories ...,34156,"$44,711.00",42,M,White Other/Not Liste...
1290061,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,5,TV Equipment ...,Electronic Equipment and Accessories ...,34156,"$44,711.00",42,M,White Other/Not Liste...

In [182]:
for col in combined_df.columns:
    if combined_df[col].dtype == 'object':
        combined_df[col] = combined_df[col].str.strip()

In [183]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1290062 entries, 0 to 1290061
Data columns (total 14 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Complaint_No             1290062 non-null  object
 1   Property_Crimes          1290062 non-null  object
 2   Location_Type            1290062 non-null  object
 3   Incident_Date            1290062 non-null  object
 4   Incident_Time            1176103 non-null  object
 5   Zipcode                  1290062 non-null  object
 6   Property_No              1142540 non-null  object
 7   Property_type            1142540 non-null  object
 8   Property_Desc            1142540 non-null  object
 9   2010 Pop                 1290062 non-null  object
 10  Median Household Income  1290062 non-null  object
 11  Victim_Age               915922 non-null   object
 12  Victim_Gender            915922 non-null   object
 13  Victim_Ethnic            915922 non-null   object
dtypes: object(14)
memory usage: 137.8+ MB

In [184]:
combined_df['Incident_Date_datetime'] = pd.to_datetime(combined_df['Incident_Date'], errors='coerce')

In [185]:
combined_df['Incident_Time'] = combined_df['Incident_Time'].astype(str)
combined_df['Incident_Time'] = combined_df['Incident_Time'].str.strip()
combined_df['Incident_Time'] = combined_df['Incident_Time'].apply(lambda x: '0'+x if len(x) == 3 else x)
combined_df['Incident_Time'] = combined_df['Incident_Time'].apply(lambda x: '00'+x if len(x) == 2 else x)
combined_df['Incident_Time'] = combined_df['Incident_Time'].apply(lambda x: '000'+x if len(x) == 1 else x)
combined_df['Incident_Time'] = pd.to_numeric(combined_df['Incident_Time'], errors='coerce')

In [186]:
combined_df['Incident_Time_time'] = pd.to_datetime(combined_df['Incident_Time'],format= '%H%M',errors='coerce').dt.time
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1290062 entries, 0 to 1290061
Data columns (total 16 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Complaint_No             1290062 non-null  object
 1   Property_Crimes          1290062 non-null  object
 2   Location_Type            1290062 non-null  object
 3   Incident_Date            1290062 non-null  object
 4   Incident_Time            1176103 non-null  float64
 5   Zipcode                  1290062 non-null  object
 6   Property_No              1142540 non-null  object
 7   Property_type            1142540 non-null  object
 8   Property_Desc            1142540 non-null  object
 9   2010 Pop                 1290062 non-null  object
 10  Median Household Income  1290062 non-null  object
 11  Victim_Age               915922 non-null   object
 12  Victim_Gender            915922 non-null   object
 13  Victim_Ethnic            915922 non-null   object
 14  Incident_Date_datetime   1290023 non-null  datetime64[ns]
 15  Incident_Time_time       1100027 non-null  object
dtypes: datetime64[ns](1), float64(1), object(14)
memory usage: 157.5+ MB

In [187]:
combined_df = combined_df.dropna(subset=['Incident_Date_datetime','Incident_Time_time'])
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1099995 entries, 113959 to 1290061
Data columns (total 16 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Complaint_No             1099995 non-null  object
 1   Property_Crimes          1099995 non-null  object
 2   Location_Type            1099995 non-null  object
 3   Incident_Date            1099995 non-null  object
 4   Incident_Time            1099995 non-null  float64
 5   Zipcode                  1099995 non-null  object
 6   Property_No              976738 non-null   object
 7   Property_type            976738 non-null   object
 8   Property_Desc            976738 non-null   object
 9   2010 Pop                 1099995 non-null  object
 10  Median Household Income  1099995 non-null  object
 11  Victim_Age               763922 non-null   object
 12  Victim_Gender            763922 non-null   object
 13  Victim_Ethnic            763922 non-null   object
 14  Incident_Date_datetime   1099995 non-null  datetime64[ns]
 15  Incident_Time_time       1099995 non-null  object
dtypes: datetime64[ns](1), float64(1), object(14)
memory usage: 142.7+ MB

In [188]:
combined_df['Incident_datetime'] = combined_df.apply(lambda x: pd.datetime.combine(x['Incident_Date_datetime'],x["Incident_Time_time"]), axis = 1)
combined_df

C:\Users\Trevor\AppData\Local\Temp\ipykernel_6788\2503011183.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  combined_df['Incident_datetime'] = combined_df.apply(lambda x: pd.datetime.combine(x['Incident_Date_datetime'],x["Incident_Time_time"]), axis = 1)
C:\Users\Trevor\AppData\Local\Temp\ipykernel_6788\2503011183.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['Incident_datetime'] = combined_df.apply(lambda x: pd.datetime.combine(x['Incident_Date_datetime'],x["Incident_Time_time"]), axis = 1)

,Complaint_No,Property_Crimes,Location_Type,Incident_Date,Incident_Time,Zipcode,Property_No,Property_type,Property_Desc,2010 Pop,Median Household Income,Victim_Age,Victim_Gender,Victim_Ethnic,Incident_Date_datetime,Incident_Time_time,Incident_datetime
113959,20120616144301,Missing Person,Indoors,6/16/12,1230.0,28216,NaN,NaN,NaN,47227,"$53,462.00",50,M,Black Other/Not Listed,2012-06-16,12:30:00,2012-06-16 12:30:00
113960,20120616144301,Missing Person,Indoors,6/16/12,1230.0,28216,NaN,NaN,NaN,47227,"$53,462.00",50,M,Black Other/Not Listed,2012-06-16,12:30:00,2012-06-16 12:30:00
113961,20120616144400,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,6/15/12,2200.0,28205,1,Vehicle Tag,Vehicles and Parts,43931,"$61,525.00",26,F,White Unknown/Refused,2012-06-15,22:00:00,2012-06-15 22:00:00
113962,20120616144400,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,6/15/12,2200.0,28205,1,Vehicle Tag,Vehicles and Parts,43931,"$61,525.00",26,F,White Unknown/Refused,2012-06-15,22:00:00,2012-06-15 22:00:00
113963,20120616144400,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,6/15/12,2200.0,28205,1,Vehicle Tag,Vehicles and Parts,43931,"$61,525.00",26,F,White Unknown/Refused,2012-06-15,22:00:00,2012-06-15 22:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1290057,20161231235500,Burglary/B&E,Indoors,12/31/16,2330.0,28208,1,TV Equipment,Electronic Equipment and Accessories,34156,"$44,711.00",42,M,White Other/Not Listed,2016-12-31,23:30:00,2016-12-31 23:30:00
1290058,20161231235500,Burglary/B&E,Indoors,12/31/16,2330.0,28208,2,TV Equipment,Electronic Equipment and Accessories,34156,"$44,711.00",42,M,White Other/Not Listed,2016-12-31,23:30:00,2016-12-31 23:30:00
1290059,20161231235500,Burglary/B&E,Indoors,12/31/16,2330.0,28208,3,Video Game Systems and Accessories,Electronic Equipment and Accessories,34156,"$44,711.00",42,M,White Other/Not Listed,2016-12-31,23:30:00,2016-12-31 23:30:00
1290060,20161231235500,Burglary/B&E,Indoors,12/31/16,2330.0,28208,4,Tablet Computer,Electronic Equipment and Accessories,34156,"$44,711.00",42,M,White Other/Not Listed,2016-12-31,23:30:00,2016-12-31 23:30:00
1290061,20161231235500,Burglary/B&E,Indoors,12/31/16,2330.0,28208,5,TV Equipment,Electronic Equipment and Accessories,34156,"$44,711.00",42,M,White Other/Not Listed,2016-12-31,23:30:00,2016-12-31 23:30:00

In [189]:
combined_df.drop(['Incident_Date_datetime','Incident_Time_time','Incident_Date','Incident_Time'], axis=1, inplace=True)

C:\Users\Trevor\AppData\Local\Temp\ipykernel_6788\188114727.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df.drop(['Incident_Date_datetime','Incident_Time_time','Incident_Date','Incident_Time'], axis=1, inplace=True)

In [190]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1099995 entries, 113959 to 1290061
Data columns (total 13 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Complaint_No             1099995 non-null  object
 1   Property_Crimes          1099995 non-null  object
 2   Location_Type            1099995 non-null  object
 3   Zipcode                  1099995 non-null  object
 4   Property_No              976738 non-null   object
 5   Property_type            976738 non-null   object
 6   Property_Desc            976738 non-null   object
 7   2010 Pop                 1099995 non-null  object
 8   Median Household Income  1099995 non-null  object
 9   Victim_Age               763922 non-null   object
 10  Victim_Gender            763922 non-null   object
 11  Victim_Ethnic            763922 non-null   object
 12  Incident_datetime        1099995 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(12)
memory usage: 117.5+ MB

In [191]:
# List of property crimes to keep
property_crimes_to_keep = [
    'Burglary/B&E', 'Theft', 'Motor Vehicle Theft', 'Theft from Motor Vehicle',
    'All other Thefts', 'Theft of Motor Vehicle Parts from Vehicle',
    'Theft from Building', 'Theft from Coin Operated Machinery', 'Arson',
    'Damage/ Vandalism to Property', 'Shoplifting', 'Embezzlement'
]

Property_df = combined_df[combined_df['Property_Crimes'].isin(property_crimes_to_keep)]
Property_df

,Complaint_No,Property_Crimes,Location_Type,Zipcode,Property_No,Property_type,Property_Desc,2010 Pop,Median Household Income,Victim_Age,Victim_Gender,Victim_Ethnic,Incident_datetime
113961,20120616144400,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,28205,1,Vehicle Tag,Vehicles and Parts,43931,"$61,525.00",26,F,White Unknown/Refused,2012-06-15 22:00:00
113962,20120616144400,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,28205,1,Vehicle Tag,Vehicles and Parts,43931,"$61,525.00",26,F,White Unknown/Refused,2012-06-15 22:00:00
113963,20120616144400,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,28205,1,Vehicle Tag,Vehicles and Parts,43931,"$61,525.00",26,F,White Unknown/Refused,2012-06-15 22:00:00
113964,20120616144400,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,28205,1,Vehicle Tag,Vehicles and Parts,43931,"$61,525.00",26,F,White Unknown/Refused,2012-06-15 22:00:00
113979,20120616154500,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,28212,1,Vehicle Tag,Vehicles and Parts,38457,"$44,747.00",61,M,Black Other/Not Listed,2012-06-15 17:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1290057,20161231235500,Burglary/B&E,Indoors,28208,1,TV Equipment,Electronic Equipment and Accessories,34156,"$44,711.00",42,M,White Other/Not Listed,2016-12-31 23:30:00
1290058,20161231235500,Burglary/B&E,Indoors,28208,2,TV Equipment,Electronic Equipment and Accessories,34156,"$44,711.00",42,M,White Other/Not Listed,2016-12-31 23:30:00
1290059,20161231235500,Burglary/B&E,Indoors,28208,3,Video Game Systems and Accessories,Electronic Equipment and Accessories,34156,"$44,711.00",42,M,White Other/Not Listed,2016-12-31 23:30:00
1290060,20161231235500,Burglary/B&E,Indoors,28208,4,Tablet Computer,Electronic Equipment and Accessories,34156,"$44,711.00",42,M,White Other/Not Listed,2016-12-31 23:30:00
1290061,20161231235500,Burglary/B&E,Indoors,28208,5,TV Equipment,Electronic Equipment and Accessories,34156,"$44,711.00",42,M,White Other/Not Listed,2016-12-31 23:30:00

In [192]:
Property_df['Median Household Income'] = Property_df['Median Household Income'].str.replace(',', '').str.replace('$', '').astype(float)
Property_df

C:\Users\Trevor\AppData\Local\Temp\ipykernel_6788\966703104.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Property_df['Median Household Income'] = Property_df['Median Household Income'].str.replace(',', '').str.replace('$', '').astype(float)
C:\Users\Trevor\AppData\Local\Temp\ipykernel_6788\966703104.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Property_df['Median Household Income'] = Property_df['Median Household Income'].str.replace(',', '').str.replace('$', '').astype(float)

,Complaint_No,Property_Crimes,Location_Type,Zipcode,Property_No,Property_type,Property_Desc,2010 Pop,Median Household Income,Victim_Age,Victim_Gender,Victim_Ethnic,Incident_datetime
113961,20120616144400,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,28205,1,Vehicle Tag,Vehicles and Parts,43931,61525.0,26,F,White Unknown/Refused,2012-06-15 22:00:00
113962,20120616144400,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,28205,1,Vehicle Tag,Vehicles and Parts,43931,61525.0,26,F,White Unknown/Refused,2012-06-15 22:00:00
113963,20120616144400,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,28205,1,Vehicle Tag,Vehicles and Parts,43931,61525.0,26,F,White Unknown/Refused,2012-06-15 22:00:00
113964,20120616144400,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,28205,1,Vehicle Tag,Vehicles and Parts,43931,61525.0,26,F,White Unknown/Refused,2012-06-15 22:00:00
113979,20120616154500,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,28212,1,Vehicle Tag,Vehicles and Parts,38457,44747.0,61,M,Black Other/Not Listed,2012-06-15 17:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1290057,20161231235500,Burglary/B&E,Indoors,28208,1,TV Equipment,Electronic Equipment and Accessories,34156,44711.0,42,M,White Other/Not Listed,2016-12-31 23:30:00
1290058,20161231235500,Burglary/B&E,Indoors,28208,2,TV Equipment,Electronic Equipment and Accessories,34156,44711.0,42,M,White Other/Not Listed,2016-12-31 23:30:00
1290059,20161231235500,Burglary/B&E,Indoors,28208,3,Video Game Systems and Accessories,Electronic Equipment and Accessories,34156,44711.0,42,M,White Other/Not Listed,2016-12-31 23:30:00
1290060,20161231235500,Burglary/B&E,Indoors,28208,4,Tablet Computer,Electronic Equipment and Accessories,34156,44711.0,42,M,White Other/Not Listed,2016-12-31 23:30:00
1290061,20161231235500,Burglary/B&E,Indoors,28208,5,TV Equipment,Electronic Equipment and Accessories,34156,44711.0,42,M,White Other/Not Listed,2016-12-31 23:30:00

In [193]:
Property_df.to_csv("PropertyCrimes_CLEAN.csv", index=False)